<div class="outer">

    <nav class="navbar navbar-expand text-bg-success" style="height: 80px;">
        <div class="container">
            <a href="#" class="navbar-brand text-bg-success"><h1 style="margin: 0;">Greenpoint Fuel</h1></a>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <button type="submit" class="btn btn-light mt-0 w-100">Guest</button>
        
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading text-bg-success">
                        <h2 class="py-2 font-weight-bold">
                            Sign Up
                        </h2>
                    </div>
                    <div class="panel-body px-5 py-3">
                        <form [formGroup]="signupForm">
                            <div class="form-group pt-3">
                                
                                <div class="form-floating" [class.error]="signupForm.controls['username'].dirty && signupForm.hasError('required', 'username')">
                        
                                    <input type="text" id="text" class="form-control" formControlName = "username" placeholder="text">
                                    <label for="text" class = "form-label text-muted"><span class="align-middle"><mat-icon>person_outline</mat-icon></span>Username</label>
                                
                                </div>
                                
                            </div>
                            <small *ngIf = "signupForm.controls['username'].dirty && signupForm.hasError('required', 'username')" class="text-danger">*Username is required</small>

                            <div class="form-group pt-3">
                                
                                <div class="form-floating" (click) = "hideShowPass()" [class.error]="signupForm.controls['password'].dirty && signupForm.hasError('required', 'password')">
                                    <input [type]="type" id="password" class="form-control" formControlName = "password" placeholder="password">
                                    <label for="password" class = "form-label text-muted"> <span class="align-middle"><mat-icon>{{lockIcon}}</mat-icon></span> Password</label>
                                    
                                
                                </div>
                            </div>
                            <small *ngIf = "signupForm.controls['password'].dirty && signupForm.hasError('required', 'password')" class="text-danger">*Password is required</small>

                            <div class="form-group pt-3">
                                
                                <div class="form-floating" (click) = "hideShowPass()" [class.error]="signupForm.controls['verifyPassword'].dirty && signupForm.hasError('required', 'verifyPassword')">
                                    <input [type]="type" id="password" class="form-control" formControlName = "verifyPassword" placeholder="password">
                                    <label for="password" class = "form-label text-muted"> <span class="align-middle"><mat-icon>{{lockIcon}}</mat-icon></span> Verify Password</label>
                                
                                </div>
                            </div>
                            <small *ngIf = "signupForm.controls['verifyPassword'].dirty && signupForm.hasError('required', 'verifyPassword')" class="text-danger">*Password does not match</small>
                           
                            <button type = "submit" class = "btn text-bg-success btn-block mt-4 w-100">Sign Up</button>
                            <div class="text-center pt-4 text-muted">Already have account? <a id="forget" routerLink="/login">Login</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>