
.outer {
    height: 100vh;
    background: linear-gradient(to right, #F6D285
    , #BBF0F3);
}

.panel-heading{
    text-align: center;
    margin-bottom: 10px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

#forget{
    min-width: 100px;
    margin-left: auto;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    text-decoration: none;
}

.form-inline label{
    padding-left: 10px;
    margin: 0;
    cursor: pointer;
}

.btn{
    margin-top: 20px;
    border-radius: 15px;
}

.panel{
    min-height: 380px;
    box-shadow: 20px 20px 80px rgb(218,218,218);
    border-radius: 12px;
    margin-top: 100px;
}


.input-field{
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #4343ff;
}

.form-floating{
    border-radius: 5px;
    
}

.form-floating.error{
    border: 2px solid red;
    color: red;
}

input[type='text'],
input[type='password']{
    cursor: pointer;
}

img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}

.wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.navbar-left {
    width: 225px;
    height: 100%;
    float: left;
    background-color: white;
}

.navul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbut {
    width: 100%;
    font-size: 20px;
    padding: 10%;
    background-color: white;
    border: none;
}

.navbut:hover {
    background-color: #04AA6D;
    color: white;
}

