<div class="outer">

    <nav class="navbar navbar-expand text-bg-success" style="height: 80px;">
        <div class="container">
            <a href="#" class="navbar-brand text-bg-success"><h1 style="margin: 0;">Greenpoint Fuel</h1></a>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link mt-0 w-100"><h1 style="margin: 0; color: white; font-weight: normal;">User | </h1></a>
                </li>
                <li class="nav-item">
                    <a href="#" class="btn btn-light mt-0 w-100"><h3 style="margin: 0;">Logout</h3></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid border-primary">
        <div class="row">

            <div class="col" style="padding: 0; background-color: white;">
                <ul class="navul">
                    <li>
                        <button type="submit" class="navbut">Home</button>
                    </li>

                    <li>
                        <button type="submit" class="navbut">Account</button>
                    </li>

                </ul>
            </div>

            <div class="col-10">
                <div>
                    <div class="panelDash bg-white border border-success table-responsive-sm">

                    </div>
                </div>

            </div>

        </div>
    </div>

</div>