<div class="outer">

    <nav class="navbar navbar-expand text-bg-success" style="height: 80px; z-index: 1000">
        <div class="container">
            <a href="#" class="navbar-brand text-bg-success"><h1 style="margin: 0;">Greenpoint Fuel</h1></a>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link mt-0 w-100"><h1 style="margin: 0; color: white; font-weight: normal;">Admin | </h1></a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0);" (click)="logout()" class="btn btn-light mt-0 w-100"><h3 style="margin: 0;">Logout</h3></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
               
        <div class="row">  
          
          <!-- <div class="col" style="padding: 0; background-color: white;">
            <ul class="navul">
                <li>
                    <button type="submit" class="navbut">Home</button>
                </li>

                <li>
                    <button type="submit" class="navbut">Account</button>
                </li>

            </ul>
        </div> -->

              <div class="col-2">
                    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white border border-success">
                <div class="position-sticky">
                  <div class="list-group list-group-flush mx-3 mt-3">
                    <a href="javascript:void(0);" class="list-group-item list-group-item-action h5 border border-success rounded text-bg-success" aria-disabled="true" (click)= "hideTable(0)">
                      <span class="align-middle"><mat-icon>person_outline</mat-icon> </span>  User Accounts
                    </a>
                    <a href="javascript:void(0);" class="list-group-item list-group-item-action h5 border border-success rounded text-bg-success mt-1" (click)= "hideTable(1)"><span class="align-middle"><mat-icon>timeline</mat-icon> </span>  Order - History</a>
                    <a href="javascript:void(0);" (click)="logout()" class="list-group-item list-group-item-action h5 border border-success rounded text-bg-success mt-1" aria-disabled="true"><span class="align-middle"><mat-icon>exit_to_app</mat-icon> </span>  Logout</a>
                   
                  </div>
                </div>
              </nav>

              </div>

              <div class="col-10">

                <div>
                    <div class="panelDash bg-white border border-success table-responsive-sm">

                      <div class="d-flex justify-content-start mt-4 p-2" *ngIf= "userTable">
                        <h1 class="text-decoration-underline">User - Accounts</h1>
                      </div>
                        <input class="form-control border border-success" type="text" placeholder="Search User Accounts" [(ngModel)]="searchUser" *ngIf= "userSearch">
                        <div class="table-wrapper-scroll-y my-custom-scrollbar">

                        <table class="table table-striped table-hover table-bordered" *ngIf= "userTable">
                            <thead class="thead">
                              <tr>
                                <th scope="col">Client ID</th>
                                <th scope="col">Firstname</th>
                                <th scope="col">Lastname</th>
                                <th scope="col">Address</th>
                                <th scope="col">City</th>
                                <th scope="col">State</th>
                                <th scope="col">Zipcode</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let user of userData | search: searchUser">
                                <th scope="row">{{user.clientID}}</th>
                                <td>{{user.firstName}}</td>
                                <td>{{user.lastName}}</td>
                                <td>{{user.addressOne}}</td>
                                <td>{{user.city}}</td>
                                <td>{{user.state}}</td>
                                <td>{{user.zipcode}}</td>
                              </tr>                  
                            </tbody>
                          </table>
                        </div>

                          <div class="d-flex justify-content-start mt-4 p-2" *ngIf= "orderTable">
                            <h1 class="text-decoration-underline">Order - History</h1>
                          </div>
                          <input class="form-control border border-success" type="text" placeholder="Search Order History" [(ngModel)]="searchOrder" *ngIf= "orderSearch">

                          <div class="table-wrapper-scroll-y my-custom-scrollbar">
                          <table class="table table-striped table-hover table-bordered" *ngIf= "orderTable">
                            <thead class="thead">
                              <tr>
                                <th scope="col">Order ID</th>
                                <th scope="col">Order Number</th>
                                <th scope="col">Gallons Requested</th>
                                <th scope="col">Delivery Address</th>
                                <th scope="col">Delivery Date</th>
                                <th scope="col">Price/Gallon</th>
                                <th scope="col">Total Price</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let order of orderData | search: searchOrder">
                                <th scope="row">{{order.orderID}}</th>
                                <td>{{order.orderNumber}}</td>
                                <td>{{order.gallonsOrdered}}</td>
                                <td>{{order.deliveryAddress}}</td>
                                <td>{{order.deliveryDate}}</td>
                                <td>${{order.pricePerGallon}}</td>
                                <td>${{order.totalAmountDue}}</td>
                              </tr>                             
                            </tbody>
                          </table>
                          
                    
                        </div>
                    </div>
                </div>

              </div>

        </div>

    </div>

</div>
